<div class="container">
  	<div class="row">
		<div class="col-sm-12">
	  		
		</div>
		<div class="col-sm-12" ng-show="!loadUser">
			<div class="loginmodal-container">
			  	<div class="row text-center" style="margin-bottom:20px">                            
					<a><img style="margin:0 auto;" class="img-responsive" src="assets/images/savvy.png"></a>
				</div>
			  	<div class="form-group col-sm-8 col-sm-offset-2">
					<input style="height:44px; font-size: 20px; text-transform:uppercase" class="form-control text-center" placeholder="YOUR EMAIL" ng-model="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" type="text">
					<p class="text-danger" ng-show="emailError">*Not a valid Email address</p>
				</div>

				<div class="nextButton col-sm-8 col-sm-offset-2">
				  	<a ng-show="!buttonDisable" ng-click="checkUser()" style="font-size: 25px; border-bottom:1px solid;border-top:1px solid;border-radius:0;" class="btn btn-simple">ENTER</a>
				</div>
				<div class="nextButton col-sm-8 col-sm-offset-2">
				  	<a ng-show="!buttonDisable" ng-click="signUp()" style="font-size: 13px;" class="btn btn-simple">SIGN UP?</a>
				</div>
			</div>
		</div>

		<div class="col-sm-12" ng-show="loadUser === 'load'">
			<div class="loginmodal-container" style="border:0">
			  	<div class="row text-center">                            
					<i style="font-size:40px" class="fa fa-cog fa-spin"></i><span style="font-size:25px"> Getting User.....</span>
				</div>
			</div>
		</div>

		<div class="col-sm-12" ng-show="loadUser === 'success'">
			<div class="loginmodal-container">
			  	<div class="row text-center" style="margin-bottom:20px;">                            
					<a><img style="margin:0 auto;border-radius:50%;width:200px;height:200px" class="img-responsive" src="assets/images/br.JPG"></a>
				</div>
			  	<div class="form-group col-sm-8 col-sm-offset-2">
					<input style="height:44px; font-size: 20px; text-transform:uppercase" class="form-control text-center" placeholder="YOUR PASSWORD" ng-model="password" type="password" required>
				</div>

				<div class="nextButton col-sm-8 col-sm-offset-2">
				  	<a ng-show="!buttonDisable" ng-click="login()" style="font-size: 30px" class="btn btn-simple">GO!</a>
				</div>
			</div>
		</div>
  </div>
  <hr ng-if="loadUser !=='load'">
</div>

<style>
.nextButton a{
	color: grey;
}

.nextButton a:hover {
	color: #f0ad4e;
}
</style>


