<div class="page-sidebar page-sidebar-fixed scroll mCustomScrollbar _mCS_1 mCS-autoHide" style="height:100%; background:#33414e;"><div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0"><div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
                <!-- START X-NAVIGATION -->
                <ul class="x-navigation">
                    <li class="xn-profile">
                        <a href="http://aqvatarius.com/themes/atlant/html/index.html#" class="profile-mini">
                            <img src="/components/theme/custom/Banana_Republic.JPG" alt="Banana Republic">
                        </a>
                        <div class="profile">
                            <div class="profile-image">
                                <img src="/components/theme/custom/Banana_Republic.JPG" alt="Banana Republic">
                            </div>
                            <div class="profile-data">
                                <div class="profile-data-name">Eaton Center</div>
                                <div class="profile-data-title">Toronto</div>
                            </div>
                        </div>                                                                        
                    </li>                   
                    <li class="">
                        <a href="#"><span class="fa fa-files-o"></span> <span class="xn-text">At A Glance</span></a>
                    </li>
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-file-text-o"></span> <span class="xn-text">Campaigns</span></a>
                        <ul>
                            <li><a href="#"><span class="fa fa-cog"></span>Manage Campaigns</a></li>
                            <li><a href="#"><span class="fa fa-plus"></span>Create New Campaign</a></li>
                        </ul>
                    </li>
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-cogs"></span> <span class="xn-text">Inventory</span></a>                        
                        <ul>
                            <li><a href="#"><span class="fa fa-cog"></span> Manage Inventory</a></li>                            
                            <li><a href="#"><span class="fa fa-plus"></span> Create New Collection</a></li>
                            <li><a href="#"><span class="fa fa-cog"></span> Manage Collections</a></li>
                        </ul>
                    </li>                    
                    <li class="">
                        <a href="http://aqvatarius.com/themes/atlant/html/index.html#"><span class="fa fa-pencil"></span> <span class="xn-text">Reports</span></a>
                    </li>
                    <li class="">
                        <a href="http://aqvatarius.com/themes/atlant/html/tables.html"><span class="fa fa-table"></span> <span class="xn-text">Redemption</span></a>
                    </li>
                    
                </ul>
                <!-- END X-NAVIGATION -->
            </div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; height: 353px; top: 0px; display: block; max-height: 514px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div>