<div class="">

	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h1 style="margin-bottom:3px;">At-A-Glance</h1>
		</div>
		<div class="col-sm-10 col-sm-offset-1" style="display:table-row;">
			<div class="glance-box">
				<p>Shoppers on Savvy</p>
				<div class="glance-content" style="padding-top:6px;">
					<img style="width:140px;" src="/components/theme/custom/chart.png" />
				</div>
			</div>
			<div class="glance-box">
				<p>Ratio Today</p>
				<div class="glance-content">
					<h1>33%</h1>
					<h3>Swipe Ratio Today</h3>
				</div>
			</div>
			<div class="glance-box">
				<p>Budget Status</p>
				<div class="glance-content">
					<h1>$550</h1>
					<h3>Total Budget Today</h3>
				</div>
			</div>
			<div class="glance-box">
				<p>Average Rate of Return</p>
				<div class="glance-content">
					<h1>15.03</h1>
					<h3>Multiplier on Savvy</h3>
				</div>
			</div>
		</div>



		<div class="col-sm-9 col-sm-offset-1" style="margin-bottom:30px;">
			<h1>Compaign Overview</h1>
			<table class="overview-table">
				<tr>
					<td width="176" style="padding-left:6px;"><toggle-switch
			            ng-model="htmlSwitchStatus1"
			            html="true"
			            id="collectionSwitch3"
			            class="switch-success switch-small"
			            knob-label=""
			            on-label='<i class="fa fa-thumbs-up" style="font-color:black"></i>'
			            off-label='<i class="fa fa-thumbs-down" style="font-color:black"></i>'>
			          </toggle-switch>
	                <span style="margin-left:10px;"> Compaign 1</span></td>
	                <td width="136" style="padding-left:16px;">
	                	<div class="checkbox">
						    <label>
						      <input type="checkbox"> Collection 1
						    </label>
						  </div><div class="checkbox">
						    <label>
						      <input type="checkbox"> Collection 2
						    </label>
						  </div><div class="checkbox">
						    <label>
						      <input type="checkbox"> Collection 3
						    </label>
						  </div><div class="checkbox">
						    <label>
						      <input type="checkbox"> Collection 4
						    </label>
						  </div>
	                </td>
	                <td width="194" ><div class="slider" id="slider1" name="slider1" style="margin-left:16px; width:160px; margin-bottom:0;"></div></td>
	                <td width="150" style="text-align:center"><h2>Budget</h2><h2>$250</h2></td>
	                <td width="150" style="text-align:center"><h3>Duration Type:</h3><span style="font-size:42px;" class="fa fa-square"></span><p>Discrete</p></td>
				</tr>
				<tr>
					<td width="176" style="padding-left:6px;"><toggle-switch
			            ng-model="htmlSwitchStatus2"
			            html="true"
			            id="collectionSwitch2"
			            class="switch-success switch-small"
			            knob-label=""
			            on-label='<i class="fa fa-thumbs-up" style="font-color:black"></i>'
			            off-label='<i class="fa fa-thumbs-down" style="font-color:black"></i>'>
			          </toggle-switch>
	                <span style="margin-left:10px;"> Compaign 2</span></td>
	                <td width="136" style="padding-left:16px;">
	                	<div class="checkbox">
						    <label>
						      <input type="checkbox"> Collection 1
						    </label>
						  </div><div class="checkbox">
						    <label>
						      <input type="checkbox"> Collection 2
						    </label>
						  </div><div class="checkbox">
						    <label>
						      <input type="checkbox"> Collection 3
						    </label>
						  </div><div class="checkbox">
						    <label>
						      <input type="checkbox"> Collection 4
						    </label>
						  </div>
	                </td>
	                <td width="194" ><div class="slider" id="slider2" name="slider2" style="margin-left:16px; width:160px; margin-bottom:0;"></div></td>
	                <td width="150" style="text-align:center"><h2>Budget</h2><h2>$360</h2></td>
	                <td width="150" style="text-align:center"><h3>Duration Type:</h3><span style="font-size:42px;" class="fa fa-circle"></span><p>Continuous</p></td>
				</tr>
				<tr>
					<td width="176" style="padding-left:6px;"><toggle-switch
			            ng-model="htmlSwitchStatus3"
			            html="true"
			            id="collectionSwitch1"
			            class="switch-success switch-small"
			            knob-label=""
			            on-label='<i class="fa fa-thumbs-up" style="font-color:black"></i>'
			            off-label='<i class="fa fa-thumbs-down" style="font-color:black"></i>'>
			          </toggle-switch>
	                <span style="margin-left:10px;"> Compaign 3</span></td>
	                <td width="136" style="padding-left:16px;">
	                	<div class="checkbox">
						    <label>
						      <input type="checkbox"> Collection 1
						    </label>
						  </div><div class="checkbox">
						    <label>
						      <input type="checkbox"> Collection 2
						    </label>
						  </div><div class="checkbox">
						    <label>
						      <input type="checkbox"> Collection 3
						    </label>
						  </div><div class="checkbox">
						    <label>
						      <input type="checkbox"> Collection 4
						    </label>
						  </div>
	                </td>
	                <td width="194" ><div class="slider" id="slider3" name="slider3" style="margin-left:16px; width:160px; margin-bottom:0;"></div></td>
	                <td width="150" style="text-align:center"><h2>Budget</h2><h2>$130</h2></td>
	                <td width="150" style="text-align:center"><h3>Duration Type:</h3><span style="font-size:42px;" class="fa fa-square"></span><p>Discrete</p></td>
				</tr>
			</table>
		</div>



		<div class="col-sm-10 col-sm-offset-1" style="display:table-row; padding-bottom:100px;">
			<div class="glance-box">
				<p>Create a New Collection</p>
				<a ui-sref="main.collection" class="glance-content">
					<span class="fa fa-shopping-cart fatop"></span>
					<span class="fa fa-plus-square-o fabottom"></span>
				</a>
			</div>
			<div class="glance-box">
				<p>Create a New Campaign</p>
				<a ui-sref="main.campaign" class="glance-content">
					<span class="fa fa-flag-o fatop"></span>
					<span class="fa fa-plus-square-o fabottom"></span>
				</a>
			</div>
			<div ui-sref="main.Inventory" class="glance-box">
				<p>View/Update Inventory</p>
				<a ui-sref="main.collection" class="glance-content">
					<span class="fa fa-suitcase fatop"></span>
					<span class="fa fa-plus-square-o fabottom"></span>
				</a>
			</div>
			<div class="glance-box">
				<p>Generate Campaign Report</p>
				<a ui-sref="main.Report" class="glance-content">
					<span class="fa fa-copy fatop"></span>
					<span class="fa fa-plus-square-o fabottom"></span>
				</a>
			</div>
		</div>



		
	</div>

</div>
<!-- <div ng-controller="SidebarRightCtrl" ng-include="'components/sidebar/sidebarRight.html'"></div> -->